XTerm*geometry: 48x12
XTerm*internalBorder: 16

XTerm*font: -*-lemon-*
XTerm*allowBoldFonts: false

XTerm*termName: xterm-256color

XTerm*VT100.Translations: #override \
	Ctrl Shift <Key> v: insert-selection(CLIPBOARD)\n\
	Ctrl Shift <Key> c: copy-selection(CLIPBOARD)\n

#include ".colors.Xresources"
