Xft.rgba: none
*geometry: 48x12

URxvt*font: -benis-lemon-medium-r-normal--10-110-75-75-m-50-ISO10646-1
URxvt*boldFont:

URxvt.letterSpace: 0

URxvt.scrollBar: false
URxvt.internalBorder: 16

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

rofi*font: artwiz lemon 7

#include ".colors.Xresources"
